html, body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  font-family: 'Major Mono Display', monospace;
  font-size: 16px;
  position: relative;
}


h1 {
  font-family: 'Major Mono Display', monospace;
  font-size: 150px;
  color: black;
}

p {
  color: black;
}


/* get rid of firefox dots */
a:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

.cover-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  border: none;
}


#developed-by {
  margin: 0px 0px 0px 0px;
}

#cover-header {
  height: 25%;
  margin-bottom: 1px;
}

/*
@media (min-width: 768px) {
  .site-wrapper {
  }
} */


/* Add animation to "page content". This will make it 'slide up' when it loads. */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
/* end animation */



#countdown {
  font-size: 40px;
}


#buttonScroll {
  font-size: 20px;
  font-family: 'Major Mono Display', monospace;
  border-style: solid;
  border-width: 3px;
  border-color: black;
}


.site-body-container {
  display: flex;
  justify-content: space-between;
}

.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-colot: #f1f1f1;
  height: 100vh;
  top: 0;
  position: sticky;
  position: -webkit-sticky; /* Safari */
  overflow: auto;
}

.nav-bar li a {
  display: block;
  width: 190px;
  color: #000;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  text-decoration: none;
  text-align: left;
}

.nav-bar li a:hover {
  background-color: #555;
  color: white;
}


.active {
  background-color: #baffcc;
  color: white;
}

.site-body-container p {
  border: 1px solid green;
  font-family: 'Krub', sans-serif;
  font-size: 20px;
  width: 50vh;
}
  
